*{
    margin: 0;
    padding: 0;
    font-family: 'Merienda', cursive;
   
    
}

body{
    background-color: #e8f4f8;
    background-image: url(../images/calligraphy/whirling\ dervish.png),url(../images/calligraphy/calligraphy-vav.png);
    background-repeat: no-repeat;
    background-position: right 95%,left 90%;
    background-size: 20% 20%,25% 30%;
 
}



.fade {
    
    animation-name: fade;
    animation-duration: 1.5s;
  }



section{
    
    border: 10px solid transparent;
    border-image: url(../images/leaf-frame.png) round;
    border-image-slice: 40%;
     border-image-width: 5%; 
    height: 89%;
    margin-top: 10%;
    background-color: #e8f4f8;
    grid-column: 2;
    overflow: auto;
}

section p{
    font-size: 20px;
    padding:5%;
    color: #b47651;
    
   
} 

section::-webkit-scrollbar {
    width: 12px;         
  }

  section::-webkit-scrollbar-track {
    background: transparent;        
  }


aside{
    border: 10px solid transparent;
    border-image: url(../images/rose-frame.png) round;
    border-image-slice: 40%;
     border-image-width: 5%; 
    background-color: #e8f4f8;
    margin: 60% 0 0 20px;
    padding: 20%; 
    height: 40%;
    overflow: auto;
    padding: 5%;
    
    

}

aside p{
    padding: 5%;
    word-wrap: break-word
}

aside::-webkit-scrollbar {
    width: 12px;         
  }

  aside::-webkit-scrollbar-track {
    background: transparent;        
  }



.container{
  
    display: grid;
    grid-template-columns: 20% 70%;
    column-gap: 30px;
    
}

video{
   margin: 0 0 5% 24%;
}