*{
    margin: 0;
    padding: 0;
    font-family: 'Merienda', cursive;
    scroll-behavior: smooth;
}

body{
    background-color: lightyellow;
    background-image: url(../images/ebru/tulips-right.png),url(../images/ebru/tulips-left.png);
    background-repeat: no-repeat;
    background-position: right 100%,left 100%;
    background-size: 20% 20%;
}







.fade {
    
    animation-name: fade;
    animation-duration: 1.5s;
  }
  
  

section{
    
    border: 10px solid transparent;
    border-image: url(../images/gold-frame.png) 83 round;
    border-image-width: 10%;
    border-radius: 10px;
    margin-top: 10%;
    background-color: lightyellow;
    grid-column: 2;
    overflow: auto;
    color: #c72f1e;
}

 section p{
    font-size: 20px;
    padding:10%;
   
} 

aside{
    border: 10px solid transparent;
    border-image: url(../images/rose-frame.png) round;
    border-image-slice: 40%;
     border-image-width: 5%; 
    background-color: transparent;
    margin: 60% 0 0 20px;
    padding: 20%; 
    height: 40%;
    overflow: auto;
    padding: 5%;
    color: #c72f1e;
    
    

}

aside p{
    padding: 5%;
    word-wrap: break-word
}

aside::-webkit-scrollbar {
    width: 12px;         
  }

  aside::-webkit-scrollbar-track {
    background: transparent;        
  }





.container{
    display: grid;
    grid-template-columns: 20% 70%;
    column-gap: 30px;
    
}

video{
    margin: 0 0 5% 24%;
}