footer{
    left: 0;
    bottom: 0;
    background-color: #374051;
    padding: 10px;
}

footer img{
    width: 35px;
    padding: 4px;
}

footer ul{
    margin-left: 45%;
    
}

.facebook-icon{
    margin-left: 43%;
    

}